//Colores

$verde: #7cea9c;
$morado: #2d3047;
$negro: #071013;
$blanco: #ffffff;


//font-style

$lato: 'Lato', sans-serif;

//font-weight

$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

//font-size

$xxx-large: 50;
$xx-large: 30;
$x-large: 20;
$large: 18;
$medium: 16;
$small: 14;
$x-small: 12;
