.container__div33{
  margin-left: 3rem;
  margin-top: 3rem;
}

.container__div33__h2{
  font-weight: $black;
  margin-bottom: 1rem;
}

.container__div33__p{
  margin-bottom: 3rem;
  font-weight: $light;

}
