.container__div33__label1{
  font-family: $lato;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: $regular;
}

.container__div33__label2{
  font-family: $lato;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: $regular;
}

.container__div33__label3{
  font-family: $lato;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: $regular;
}

.container__div33__input1{
  width: 700px;
}

.container__div33__input2{
  width: 700px;
}

.container__div33__input3{
  width: 700px;
  padding-bottom: 100px;
  margin-bottom: 8rem;

}
