.container__div2{
  margin-top: 110px;
}

.container__div2__i{
  margin-top: 30px;
  margin-left: 10px;
}

.container__div2__div1{
  margin-left: 3rem;
}

.container__div2__h1{
  font-weight: $black;
}

.container__div2__p{
  font-weight: $light;
  margin-top: 60px;
}
