.container__div2{
  margin-top: 110px;
}

.container__div2__i{
  margin-top: 30px;
  margin-left: 10px;
}

.container__div2__div1{
  margin-left: 3rem;
}

.container__div2__h1{
  font-weight: $black;
}

.container__div2__p{
  font-weight: $light;
  margin-top: 60px;
}

.container__div2__div2{
  margin-left: 50px;
  margin-top: 50px;
}

.container__hr1{
  margin-top: 100px;
}


.container__div__h2{
  font-weight: $black;
  margin-bottom: 60px;
}

.container__div__h3{
  font-weight: $black;
  float: left;
}

.container__div__h4{
  font-weight: $regular;
  clear: left;
  margin-bottom: 30px;
}


.container__div__p{
  margin-bottom: 100px;
  font-weight: $light;
}

.container__div__h5{
  text-align: right;

}


.container__divx{
  margin-left: 3rem;
  margin-bottom: 150px;
}

.container__divx__h3{
  float: left;
  font-weight: $bold;
}

.container__divx__h4{
  clear: left;
  font-weight: $light;
}

.container__divx__h5{
  text-align: right;
}

.container__divx__div{
  margin-top: 60px;
}

.container__divx__h2{
  margin-top: 60px;
  margin-bottom: 80px;
  font-weight: $black;
}

.container__div22{
  margin-left: 3rem;
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.container__div22__h2{
  font-weight: $black;
  margin-bottom: 4rem;
}

.container__div22__div__div1__h3{
  font-size: $xx-large;
  font-weight: $bold;
  margin-bottom: 2rem;
}

.container__div22__div__div1__h5{
  font-weight: $light;
  margin-bottom: 4rem;
}

.container__div33{
  margin-left: 3rem;
  margin-top: 3rem;
}

.container__div33__h2{
  font-weight: $black;
  margin-bottom: 1rem;
}

.container__div33__p{
  margin-bottom: 3rem;
  font-weight: $light;

}

.container__div33__label1{
  font-family: $lato;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: $regular;
}

.container__div33__label2{
  font-family: $lato;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: $regular;
}

.container__div33__label3{
  font-family: $lato;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: $regular;
}

.container__div33__input1{
  width: 700px;
}

.container__div33__input2{
  width: 700px;
}

.container__div33__input3{
  width: 700px;
  padding-bottom: 100px;
  margin-bottom: 8rem;

}

input, button, select, optgroup, textarea{
  font-family: $lato;
  padding-left: .5rem;

}

hr{
  margin-left: 7%;
  width: 700px;
}
