

.container__div__div2{
  margin-left: 50px;
  margin-top: 50px;
}

.container__hr1{
  margin-top: 100px;
}


.container__div__h2{
  font-weight: $black;
  margin-bottom: 60px;
}

.container__div__h3{
  font-weight: $black;
  float: left;
}

.container__div__h4{
  font-weight: $regular;
  clear: left;
  margin-bottom: 30px;
}


.container__div__p{
  margin-bottom: 100px;
  font-weight: $light;
}

.container__div__h5{
  text-align: right;

}


.container__divx{
  margin-left: 3rem;
  margin-bottom: 150px;
}

.container__divx__h3{
  float: left;
  font-weight: $bold;
}

.container__divx__h4{
  clear: left;
  font-weight: $light;
}

.container__divx__h5{
  text-align: right;
}

.container__divx__div{
  margin-top: 60px;
}

.container__divx__h2{
  margin-top: 60px;
  margin-bottom: 80px;
  font-weight: $black;
}

.container__div22{
  margin-left: 3rem;
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.container__div22__h2{
  font-weight: $black;
  margin-bottom: 4rem;
}

.container__div22__div__div1__h3{
  font-size: $xx-large;
  font-weight: $bold;
  margin-bottom: 2rem;
}

.container__div22__div__div1__h5{
  font-weight: $light;
  margin-bottom: 4rem;
}

hr{
  margin-left: 7%;
  width: 700px;
}

.boldd{
  font-weight: $bold;
}
